<ion-header>
  <ion-toolbar>
    <ion-title>Chat Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  
  <div id="chat">
    <div id="chat-list">
      <div class="message left">
        Ahmet Korkmaz : Merhaba herkese
      </div>
  
      <div class="message right">
        Merhaba herkese
      </div>

      <div class="message right">
        Merhaba herkese
      </div>

      <div class="message right">
        Merhaba herkese
      </div>

      <div class="message left">
        Ahmet Korkmaz : Merhaba herkese
      </div>

      <div class="message left">
        Ahmet Korkmaz : Merhaba herkese
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="messageText" placeholder="Bir şeyler yazınız..." autofocus="on" required="true"></ion-input>
    <ion-select [(ngModel)]="algorithm" placeholder="Algoritma" cancelText="İptal" okText="Seç">
      <ion-select-option value="sezar" selected>Sezar Algoritması</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    <ion-button color="light" size="medium" (click)="sendMessage()">
      <ion-icon size="medium" color="success" name="send" align-self-center></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
