.message {
  width: fit-content;
  border: 1px solid #FFF;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #333;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.left {
  margin-left: 10px;
  border-radius: 0 10px 10px 10px;
}

.right {
  border-radius: 10px 0 10px 10px;
  margin-right: 10px;
}